@font-face {
    font-family: "Gotham";
    src: local("Gotham"),
    url("./fonts/GothamBook.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Gotham Bold";
    src: local("Gotham Bold"),
    url("./fonts/GothamBold.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Gotham Thin";
    src: local("Gotham Thin"),
    url("./fonts/GothamThin.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Light";
    src: local("Gotham Light"),
    url("./fonts/GothamLight.otf") format("opentype");
    font-weight: normal;
}
